*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    padding-bottom: 46px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
   
}
nav .logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange {
    color: #FD6E0A;
}
nav .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    list-style: none;
}
nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
    transition: all linear 0.2s;
}
nav .menu a:hover {
  color: #FD6E0A;
}
.btn{
    padding: 18px 36px;
    background-color: #FD6E0A;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
.btn:hover{

    background-color: #FD6E0A;
    color: #ffffff;
}
#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 163px;
    background-color: #FFF8F3;
    padding-left: 230px;
    padding-right: 20px;
    background: url("./../images/developer.png"), url("./../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.banner-content {
   max-width: 585px;
}
.banner-content h2{
   font-weight: 600;
   font-size: 45px;
   color: #474747;
}
.banner-content h1{
   font-weight: 800;
   font-size: 85px;
   color: #181818;
   padding-top: 5px;
   padding-bottom: 20px;
}
.banner-content p{
   font-size: 18px;
   color: #757575;
   line-height: 30px;
   padding-bottom: 30px;
   
}
#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}

/* about css start */
#about {
    margin: 130px 230px;
}
#about .about-container {
    background-color: #FFF8F3;
    padding: 130px 155px;
    border-radius: 10px;
}
.about-container .section-heading {
     text-align: center;
}
.about-container .section-heading h2{
     font-weight: 800;
     font-size: 35px;
     color: #181818;
}
#about .about-container .section-heading p{
      font-size: 18px;
      line-height: 30px;
      color: #757575;
      padding-top: 30px;
      padding-bottom: 30px;
}
.about-container .about-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    text-align: center;
}
.about-info .info-card p{
   font-size: 20px;
   line-height: 30px;
   color: #757575;
}
.about-info .info-card h4{
    font-size: 20px;
   line-height: 30px;
   color: #474747;
}
/* about css end */

/* skills sec */
#skills {
    padding-bottom: 130px;
    padding-left: 230px;
    padding-right: 230px;
}
#skills .skills-container {
  
}
.skills-container .skills-heading {
     text-align: center;
}
.skills-heading h2{
   font-weight: bold;
   font-size: 35px;
   color: #181818;
}
.skills-heading p{
   font-size: 18px;
   line-height: 30px;
   color: #757575;
   padding-top: 30px;
   padding-bottom: 50px;
}
.skills-container .skills-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 30px; 
}
.skills-content .skills-card{
     box-shadow: 0 6px 50px rgba(0, 0, 0, 0.08);
     border-radius: 5px;
     padding-top: 30px;
     padding-bottom: 30px;
     padding-left: 30px;
     padding-right: 33px;
     max-width: 267px;
}
.skills-content .skills-card h3{
   font-weight: bold;
   font-size: 20px;
   color: #181818;
   padding-top: 30px;
   padding-bottom: 20px;
}
.skills-content .skills-card p{
   font-size: 16px;
   color: #757575;
   line-height: 28px;
}
/* resume section*/
#resume .section-heading {
    margin: 0 auto;
    text-align: center;
    font: bold;
    font-size: 30px;
    color: #181818;
}

.resume-container .education{
    
}
.resume-container .education .sec-title{
      font-weight: bold;
      font-size: 30px;
      color: #474747;
}
 .resume-card {
    font-weight: bold;
    font-size: 25px;
    color: #474747;
    padding-bottom: 10px;
    padding-top: 30px;
}
 .card-info {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}
 .card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    padding-top: 20px;
    padding-bottom: 30px;
}
.Experience .sec-title{
     font-weight: bold;
     font-size: 30px;
     color: #474747;
}
.resume-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 113px 230px;

}
.text-center {
    text-align: center;
    padding-top: 50px;
}
#footer {
    padding: 130px 230px;
    background-color: #FFF8F3;
    margin-top: 113px;
}
#footer .footer-container {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 117px;
     margin: 0 auto;
}
 .footer-container .social{
     max-width: 562px;
}
.social h2 {
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.social p {
    line-height: 28px;
    font-size: 16px;
    color: #474747;
    padding-top: 20px;
    padding-bottom: 30px;
}
.footer-container .icons {
 display: flex;
 align-items: center;
 gap: 24px;
 cursor: pointer;
}
.footer-container h2 {
    font-size: 35PX;
    font-weight: bold;
    color: #181818;
}
.footer-container .form input[type="text"] {
    max-width: 461px;
    border: none;
    padding: 18px 30px;
    border-radius: 5px;
}
.footer-container .form input[type="email"] {
    max-width: 461px;
    border: none;
    padding: 18px 30px;
    margin: 24px 0;
    border-radius: 5px;
}
.form textarea {
  max-width: 461px;
    border: none;
    padding: 18px 30px;  
}